{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "prettier",
    "airbnb-typescript/base",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "array-callback-return": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "@typescript-eslint/no-var-requires": 0,
    "no-underscore-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
